.App{
  width: 100vw;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin: auto;
}

.login-form {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  /* text-align: right; */
}


